<%= form_with(model: listatarea, local: true) do |form| %>
  <% if listatarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listatarea.errors.count, "error") %> prohibited this listatarea from being saved:</h2>

      <ul>
      <% listatarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :f_desde %>
    <%= form.date_select :f_desde %>
  </div>

  <div class="field">
    <%= form.label :f_hasta %>
    <%= form.date_select :f_hasta %>
  </div>

  <div class="field">
    <%= form.label :responsable %>
    <%= form.text_field :responsable %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
